.div-initial-video-list {
    margin: 20px 0;
}

.div-video-list {
    width: 100%;
    margin: 10px 0;
    @media(min-width: 992px) {
        display: inline-block;
        width: 20%;
        padding-left: 20px;
        float: right;
    }
    @media(min-width:1200px) {
        width: 30%;
    }
}

.search-result-video-list {
    display: block;
    margin: 10px 0;
    @media(min-width: 992px) {
        display: none;
    }
}

.div-videoListItem {
    padding: 10px;
    padding-top: 0;
    img {
        width: 30%;
        height: auto;
    }
    span {
        display: inline-block;
        width: 70%;
        padding: 10px;
        vertical-align: top;
    }
    @media(min-width: 992px) {
        img,
        span {
            width: 100%;
        }
        span {
            font-size: 120%;
        }
    }
}